.social {
    background-color: black;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 15px;
}
.call {
    color: white;
    font-size: 17px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
}

.sociallinks {
    display: flex;
    bottom: 0px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    justify-content: center;
}

.social a {
    margin: 0 20px;
    color: white;
}

.social a:hover {
    font-size: 20px;
}