.about {
    padding: 20px;
    padding-left: 15%;
    padding-right: 15%;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

.aboutheading {
    text-align: center;
}

.aboutcontent {
    font-size: 20px;
    line-height: 25px;
}

@media screen and (max-width: 950px) {
    .about {
        padding-left: 10%;
        padding-right: 10%;
    }
}   

@media screen and (max-width: 650px) {
    .about {
        padding-left: 5%;
        padding-right: 5%;
    }
}  