.home {
    display: flex;
    flex-direction: column;
}
.profilepic {
    left:49%;
    transform:translate(-50%,6%);
    position: absolute;
    width : 60vh;
    box-shadow: 0px 3px 30px #8c8c8c, 0px 3px 10px #757575;
    border-radius: 50%
}
/*.
Old styling
profilepic {
    width : 300px;
    height : 340px;
    max-width : 300px;
    max-height: 350px;
    border-radius: 50%;
    border: 5px solid #212121;
    position:absolute;
    top:15vh;
    left:50%;
    transform:translate(-50%,0);
}*/

#typing {
    font-weight: bold;
    top:59.3%;
    position: absolute;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 3.5vh;
}

.home span {
    background-color: white;
    position: absolute;
    top: 64%;
    left:49%;
    transform: translate(-50%,0%);
    font-size: 3vh;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #212121;
    width: 100%;
}