.home {
    display: flex;
    flex-direction: column;
}

.profilepic {
    width : 300px;
    height : 340px;
    max-width : 300px;
    max-height: 350px;
    border-radius: 50%;
    border: 5px solid #212121;
    position:absolute;
    top:15vh;
    left:50%;
    transform:translate(-50%,0);
}

#typing {
    background-color: white;
    font-weight: bold;
    top:75%;
    position: absolute;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

.home span {
    background-color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,0%);
    font-size: 20px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
}